<main>
    <section class="form-section">
        <img src="/assets/png/ordaminilogo3.png" />
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">{{ primaryBtnText }}</button>
            <div class="divider">
                <div class="div1"></div>
                <span>ou</span>
                <div class="div2"></div>
                
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
        
    </section>
    <section class="main-section">
        <h1>ORGANIZAÇÃO REIS DE ANTIGAMENTE</h1>
        <h5>ROLEPLAYNING GAMES PLAYERS ASSOCIATION</h5>
        <img src="/assets/jpg/ordamainlogo.jpg" />
    </section>
</main>
